name: Auto Format and Lint

on:
  pull_request:
    branches: [ main, master ]

permissions:
  contents: write

jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Formatters
        run: |
          pip install black isort autoflake

      - name: Remove unused imports (Autoflake)
        run: |
          autoflake --in-place --remove-all-unused-imports --recursive . --exclude "*.ipynb"

      - name: Sort Imports (Isort)
        run: |
          isort . --skip .ipynb_checkpoints --skip-glob "*.ipynb"

      - name: Format Code (Black)

        run: |
          black . --exclude "\.ipynb$"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Format Terraform
        run: |
          terraform fmt -recursive

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: auto-format python and terraform code"
          branch: ${{ github.head_ref }}